@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-aside: #11224B;
  --all-scren: #FFFFFF;
}
.font-features {
  font-feature-settings: 'clig' off, 'liga' off;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;

}
input:focus{
  border: none;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}
.imageLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-reapeat;
}
#imageAdd{
  background-size: 100% 100%;
}